.app .info {
    top: 0;
    left: 0;
    width: 80%;
    height: 75vh;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 25%;
    color: rgba(48, 29, 155, 0.9);
    font-size: 18px;
    padding: 25px;
    overflow: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.app .info.hidden {
    display: none;
}

.info .close-btn {
    /* padding: 10px; */
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid rgba(48, 29, 155, 0.9);
    font-size: 25px;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: -30px;
    right: 10px;
}

.info .wrapper {
    max-width: 500px;
    margin: 50px auto;
    position: relative;
}

h2,
h3 {
    margin-top: 16px;
    margin-bottom: 8px;
}

.current span,
.record span {
    color: rgba(165, 16, 60, 0.9);
}